#canvas-1 {
    border: 2px solid;
    margin: 50px auto;
    position: relative;
    font-size: 30px;
    font-weight: bolder;
}

.score-text{
    margin-top : -35px;
    font-size: 30px;
}

.score{
    font-weight: bolder;
}